@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
}

.ant-input-group-wrapper {
  width: 100%;
  border: 2px solid #000;
  border-radius: 2em;
  overflow: hidden;
  font-size: 0.8rem;
  display: flex;
  flex-flow: row nowrap;
}

.ant-input-group-wrapper:focus-within {
  box-shadow: 2px 2px 5px #000;
}

.ant-input-group-addon button,
.ant-input-wrapper input {
  background-color: #fff;
  border: none;
  outline: none;
}

.ant-input-wrapper input {
  padding: 1em;
  width: 85%;
}

.ant-input-group-addon button {
  width: 15%;
  font-size: 1rem;
  padding-right: 0.5em;
  color: gray;
  display: grid;
  place-content: center;
  box-shadow: none;
}

.ant-input-group-addon button:focus-visible{
  outline: none!important;

}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-default:not(:disabled):hover{
  color: none;
  border-color: none;
}

.ant-form-item {
  display: inline-block;
  margin-right: 20px;
  width: 50%;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-input-affix-wrapper {
  padding: 10px 11px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-primary {
  background-color: #000;
  border-color: #000;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-btn-primary:not(:disabled):hover{
  border-color: #000;
  background-color: #000;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-picker-dropdown .ant-picker-time-panel-column{
  flex-direction: column;
}